<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="TRA_Invoice_2021_PRO_INR_Catchup"/>
    <add key="ClientCycle" value="PRO"/>
    <add key="InsCoInvoice_OutputFileName" value="TRA_Invoice_2021_PRO_INR_Catchup_InsuranceCompany.pdf" />
    <add key="FundCoInvoice_OutputFileName" value="TRA_Invoice_2021_PRO_INR_Catchup_FundCompany.pdf" />
    <add key="Base_DatabaseName" value="TRA__Master"/>
    <add key="AppName" value="TRA Invoicing"/>
    <add key="SQLServerName" value="LHLFBU-MWS-MIX1" />
    <add key="SQLServerUserName" value="sa" />
    <add key="SQLServerPassword" value="R1GHTM!X" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OutputDirectory" value="\\lanwe-fps01.fincoad.com\Data\dept\ShrhldrCom\eservices\Implementations\TransAmerica\TransAmerica_Billing\TRA_Invoicing_Console\OutputFiles\" />
    <add key="MainViewName" value="vw_InvoiceInfo" />
    <add key="DetailViewName" value="vw_InvoiceDetail" />
    <add key="Invoice_StartNumber" value="1" />
    <add key="ClientCode" value="TRA"/>
    <add key="FundCoInvoice" value="yes"/>
    <add key="InsCoInvoice" value="yes"/>
    <add key="PleasePayBy" value=""/>
  </appSettings>
 </configuration>